---
title: "Autopoleerimine.ee | Professionaalne autohooldus Eestis alates 2001"
description: "Eesti vanim ja kogenum autodetailingu ettevõte. Kiletamine, poleerimine, keraamika. Üle 20 aasta kogemust. Kõrgeima kvaliteediga teenused."
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Detailingu algatajad Eestis
            </h1>
            <p class="cs-text">
                Kvaliteet, mida teised püüavad järgi teha. Usaldus, mille oleme teeninud aastatega.
            </p>
            <span>Kiletamine • poleerimine • keraamika • jm</span>
            <div class="buttons">
                <a href="" class="cs-button-solid" data-text="Võta ühendust">Võta ühendust</a>
                <a href="" class="cs-button-solid secondary">Meie portffolio</a>
            </div>
            
            <div class="reviews-badge">
                5.0 Google Reviews
            </div>
            
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/dad-detailing.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/dad-detailing.jpg">
        <img decoding="async" src="assets/images/dad-detailing.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-870">
    <div class="cs-container">
        
        <div class="cs-content">
            <span class="cs-topper">/ Meist</span>
            <h2 class="cs-title">Usaldus ei sünni üleöö</h2>
            <div class="text-box">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#ebebeb" class="star"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path> </g></svg>
                <p class="cs-text">
                    Oleme tegutsenud <span>alates 2001. aastast</span> — ajast, mil detailing polnud Eestis veel tuntud. Selle aja jooksul oleme õppinud kasutama kõige kvaliteetsemaid ja tehniliselt keerukamaid tooteid, mis nõuavad kogemust ja täpsust.
                </p>
                <div class="cs-text">
                    Oleme oma tööle alati lähenenud põhimõttega, et iga auto väärib parimat. Me ei tee kompromisse kvaliteedis ega kiiruses — sest tõeliselt hea tulemus sünnib ainult siis, kui igasse detaili suhtutakse hoolikalt. Just see on põhjus, miks meie juurde tullakse tagasi, ja miks meid usaldavad nii igapäevased autoomanikud kui ka kõige nõudlikumad kliendid.
                </div>
            </div>
        </div>

        <div class="group">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="assets/images/portrait.webp" alt="therapy" width="630" height="775">
                </picture>

            <div class="about">
                    <div class="name-description">
                        <h3>Marius Simanauskas</h3>
                        <p>Ettevõtte omanik & professionaalne detailer üle 25 aasta</p>
                    </div>
                    <img src="assets/svgs/signature.svg" alt="">
            </div>
        </div>
            
        
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-left">
                <span class="cs-topper">/ Teenused</span>
                <h2 class="cs-title">Täiuslikkus peitub detailides</h2>
            </div>
            <div class="cs-right">
                <p class="cs-text">
                    Teeme ainult seda, mille kvaliteedis oleme kindlad. Iga teenus mida pakume on aastatega lihvitud ja praktikas tõestatud.
                </p>
                <div class="cs-button-group">
                    <a href="/contact/" class="cs-button-link">Kõik teenused</a>
                </div>
            </div>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230706-WA0009~2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230706-WA0009~2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/IMG-20230706-WA0009~2.webp" alt="autopoleerimine" width="413" height="420">
                    </picture>
                    <div class="cs-overlay"></div>
                    <div class="cs-button-overlay">
                        <svg class="cs-arrow" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 10H16M16 10L10 4M16 10L10 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h3 class="cs-service-name">Poleerimine</h3>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230706-WA0010~3.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230706-WA0010~3.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/IMG-20230706-WA0010~3.webp" alt="keraamiline kaitse" width="413" height="420">
                    </picture>
                    <div class="cs-overlay"></div>
                    <div class="cs-button-overlay">
                        <svg class="cs-arrow" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 10H16M16 10L10 4M16 10L10 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h3 class="cs-service-name">Keraamiline Kaitse</h3>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230704-WA0000~2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230704-WA0000~2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/IMG-20230704-WA0000~2.webp" alt="keemiline puhastus" width="413" height="420">
                    </picture>
                    <div class="cs-overlay"></div>
                    <div class="cs-button-overlay">
                        <svg class="cs-arrow" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 10H16M16 10L10 4M16 10L10 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h3 class="cs-service-name">Keemiline Puhastus</h3>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230630-WA0004~2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230630-WA0004~2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/IMG-20230630-WA0004~2.webp" alt="kiletamine" width="413" height="420">
                    </picture>
                    <div class="cs-overlay"></div>
                    <div class="cs-button-overlay">
                        <svg class="cs-arrow" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 10H16M16 10L10 4M16 10L10 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h3 class="cs-service-name">Kiletamine</h3>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
                <span class="cs-topper">/ Pildigalerii</span>
                <h2 class="cs-title">Mõned töö tulemused</h2>
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-item">
                <div class="cs-item-header">
                    <h3 class="cs-item-title">Keraamikakatte rakendamine</h3>
                    <p class="cs-item-text">Professionaalne keraamiakate andis autole uue sära ja kaitse</p>
                </div>
                <div class="cs-pictures-container">
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230629-WA0012~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230629-WA0012~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230629-WA0012~2.webp" alt="auto enne keraamiakatet" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Enne</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230629-WA0013~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230629-WA0013~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230629-WA0013~2.webp" alt="auto pärast keraamiakatet" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Pärast</span>
                    </div>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-item-header">
                    <h3 class="cs-item-title">Poleerimise maagia</h3>
                    <p class="cs-item-text">Kraabid ja oksüdatsioon kadusid täielikult professionaalse poleerimise teel</p>
                </div>
                <div class="cs-pictures-container">
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230704-WA0000~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230704-WA0000~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230704-WA0000~2.webp" alt="auto enne poleerimist" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Enne</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230704-WA0002~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230704-WA0002~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230704-WA0002~2.webp" alt="auto pärast poleerimist" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Pärast</span>
                    </div>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-item-header">
                    <h3 class="cs-item-title">Detailne puhastus</h3>
                    <p class="cs-item-text">Igasse nurka jõudva puhastusega taastasime auto algse ilu</p>
                </div>
                <div class="cs-pictures-container">
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230705-WA0000~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230705-WA0000~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230705-WA0000~2.webp" alt="auto enne detailset puhastust" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Enne</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230705-WA0002~3.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230705-WA0002~3.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230705-WA0002~3.webp" alt="auto pärast detailset puhastust" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Pärast</span>
                    </div>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-item-header">
                    <h3 class="cs-item-title">Tõeline väljakutse</h3>
                    <p class="cs-item-text">Isegi kõige raskemad juhtumid muutuvad meie kätes täiuslikuks</p>
                </div>
                <div class="cs-pictures-container">
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230706-WA0009~2.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230706-WA0009~2.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230706-WA0009~2.webp" alt="raskelt kahjustatud auto enne" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Enne</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/IMG-20230706-WA0010~3.webp">
                            <source media="(min-width: 601px)" srcset="/assets/images/IMG-20230706-WA0010~3.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/IMG-20230706-WA0010~3.webp" alt="ideaalselt taastatud auto pärast" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Pärast</span>
                    </div>
                </div>
            </div>
            
        </div>
            <a class="cs-button-solid" href="/project-one/">Tehtud tööd</a>

        
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2244">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">/ Klientide tagasiside</span>
            <h2 class="cs-title">Mida räägivad kliendid, kes auto meie hoolde usaldanud</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-item-text">
                    Лучший автодетейлинг в Таллине — был здесь три раза, и каждый раз работа выполнялась точно, быстро и в соответствии с обещаниями. Мариус всегда помогает и подсказывает, как сделать так, чтобы машина меньше пачкалась.
                </p>
                <div class="cs-reviewer">
                    <div class="cs-name">Сергей Морозов</div>
                    <div class="cs-stars">★★★★★</div>
                    <div class="cs-desc">Välispesu + salongi keemiline puhastus</div>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    Otsisin Tallinnas kohta, kus mu Audile paigaldataks keraamiline kaitse professionaalselt ja õigete toodetega. Siin sain täpselt selle. Töö tehti tähtaegselt ning autol nüüd sügav läige ja vetthülgav pind. Kindlasti toon ka teise auto.
                </p>
                <div class="cs-reviewer">
                    <div class="cs-name">Kristiina T</div>
                    <div class="cs-stars">★★★★★</div>
                    <div class="cs-desc">Keraamiline kaitse</div>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    С матовым покрытием всегда боялся что-то повредить, но тут ребята реально знают своё дело. Результат превзошёл все ожидания, цена полностью оправдана.
                </p>
                <div class="cs-reviewer">
                <div class="cs-name">Андрей</div>
                    <div class="cs-stars">★★★★★</div>
                    <div class="cs-desc">Autot taastav poleerimine</div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

{% endblock %}
